asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==4.2.7
django-heroku==0.3.1
django-jazzmin==3.0.0
gunicorn==21.2.0
idna==3.4
packaging==23.2
protobuf==4.21.12
psycopg2==2.9.9
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.1.0
whitenoise==6.7.0
